apiVersion: apps/v1
kind: Deployment
metadata:
  name: simple-web-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: simple-web-app
  template:
    metadata:
      labels:
        app: simple-web-app 
    spec:
      containers:
        - name: web 
          image: ghcr.io/${GITHUB_REPOSITORY,,}:latest
          ports:
            - containerPort: 80