name: Simple CI CD Pipeline
on:
  push:
    branches: [ "main" ]
permissions:
  contents: read
  packages: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Chechout code
      uses: actions/checkout@v4
    - name: Login to Github Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Set lowercase image name
      run: |
        echo "IMAGE_NAME=ghcr.oi/${GITHUB_REPOSITORY,,}:latest" >> $GITHUB_ENV
    - name: Build Docker image
      run: |
        docker build -t $IMAGE_NAME .
    - name: Push Docker image
      run: |
        docker push $IMAGE_NAME
