name: Simple CI CD Pipeline
on:
  push:
    branches: [ "main" ]
permissions:
  contents: read
  packages: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Chechout code
      uses: actions/checkout@v4
    - name: Login to Github Container Registry
      run: |
        echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
    - name: Set lowercase image name
      run: |
        echo "IMAGE_NAME=ghcr.oi/${GITHUB_REPOSITORY,,}/simple-web-app:latest" >> $GITHUB_ENV
    - name: Build Docker image
      run: |
        docker build -t $IMAGE_NAME .
    - name: Push Docker image
      run: |
        docker push $IMAGE_NAME
